body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: bisque;
}

.cropped {
    width: 250px; 
    height: 250px; 
    object-fit: cover;
    border: 5px solid black;
    }
    
.cropped img {
    margin: -10px 0px 0px -180px;
}

.center{
    text-align: center;
}

li{
    list-style-type: none;
}

img{
    float: left;
    border: 5px solid black;
    height: 250px;
    margin: 0% 5%;
}

.container{
    padding: 10%;
    padding-top: 0%;
    margin: 0% 20%;
    background-color: burlywood;
}

#footer{
    margin: auto;
    text-align: center;
}

#pageColumn{
}

td{
    padding: 10px;
}

@media only screen and (max-width: 1200px) {
    .container{
        padding: 10%;
        padding-top: 0%;
        margin: 0% 0%;
    }
  }